.rate {
    float: right;
    color: rgb(255, 176, 29);
    text-decoration: none;
    font-size: 3em;
}
.rating a {
   float: right;
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: rgb(255, 176, 29);
   cursor: pointer;
}

#thAlign {
  text-align: right;
}