<link href="{{ url_for('ludo.static', filename='style.css') }}" rel="stylesheet" />

{% block scripts %}

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script> 

    
    function myFunction() {
        
        var input, filter, ul, li, a, i, txtValue, urlApi;
        var xhr = new XMLHttpRequest();
        urlApi = "http://127.0.0.1:5000/myludo/bgg/"
        
        input = document.getElementById("myInput");

        xhr.onreadystatechange = function() {
            if ( this.responseText != "" && this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText)
                document.getElementById("bggFound").innerHTML = null;
                for (game in data) {
                    display(data[game])
                }
            }
        };

        xhr.open("POST", urlApi+input.value, true);
        xhr.send();
        
    }

    function display(item){
        var img = document.createElement('img')
        img.src = item.img
        img.style.width = "100px";
        img.style.height = "100px";
        var p = document.createElement('p');
        p.id = item.id;
        p.innerHTML = item.name;
        console.log(item.name);
        document.getElementById('bggFound').appendChild(img)
        document.getElementById('bggFound').appendChild(p)
        }
</script>
{% endblock %}

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Ludothèque</title>

{% endblock %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}

<div class="container">
    <div>
        <form action="{{url_for('ludo.myLudo')}}" method="POST">
            {{ form.csrf_token }}            
            {{ form.hidden_tag() }}

            <ul class="form-group row" style="list-style:none; margin-left:0; padding-left:0;">
                <li class="col-md-2">
                    {{ wtf.form_field(form.nom) }}
                </li>
                <li class="col-md-2">
                    {{ wtf.form_field(form.version) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.min) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.max) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.age) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.favori) }}
                </li>
                <li>
                    <input type="submit" value="+" class="btn btn-primary">
                </li>
            </ul>
        </form>
        {% if messages %}
            {% for category, message in messages %}        
                {% if category == "error" %}
                <p style="color: red; font-weight: bold;">{{ message }}</p>
                {% endif %}                
            {% endfor %}
        {% endif %}
    </div>

    <div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Trouver sur BGG" title="Type in a name">
        <div id="bggFound">
            <!-- result display here! -->
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3" >Jeux favoris</th>
                    <th scope="col" >Joueurs</th>
                    <th scope="col" id="smart">Age</th>
                    <th scope="col"></th>
                  </tr>
            </thead>
            <tbody>     

              {% for gameF in gamesF %}

              <tr>
                <th class="col-md-3">
                    {{ gameF["nom"] }}
                    {% if gameF["version"] != "" %}
                        - {{ gameF["version"] }}
                    {% endif %}
                </th>
                <td class="col-md-2">{{ gameF["minJ"] }} - {{ gameF["maxJ"] }}</td>
                <td class="col-md-2" id="smart">{{ gameF["age"] }}</td>
                <td class="col-md-2" >
                    <form method ="post" action="/myludo/action">
                        <button type="submit" name="favorite" value="{{ gameF['_id'] }}" class="btn btn-light">🖤</button>
                        <button type="submit" name="trash" value="{{ gameF['_id'] }}" class="btn btn-danger">🗑</button>
                    </form>                                       
                </td>
              </tr>

              {% endfor %}

              {% if gamesF.count() == 0 %}
                <tr>
                    <th class="col-md-3">-</th>
                    <td class="col-md-2">-</td>
                    <td class="col-md-2" id="smart">-</td>
                    <td class="col-md-2"></td>
                </tr>
              {% endif %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-md-3" >Jeux</th>
                <th scope="col" >Joueurs</th>
                <th scope="col" id="smart">Age</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>              

              {% for game in games %}
                <tr>
                    <th class="col-md-3">
                        {{ game["nom"] }}
                        {% if game["version"] != "" %}
                            - {{ game["version"] }}
                        {% endif %}
                    </th>
                    <td class="col-md-2">{{ game["minJ"] }} - {{ game["maxJ"] }}</td>
                    <td class="col-md-2" id="smart">{{ game["age"] }}</td>
                    <td class="col-md-2">   
                        <form method ="post" action="/myludo/action">
                            <button type="submit" name="favorite" value="{{ game['_id'] }}" class="btn btn-light">❤️</button>
                            <button type="submit" name="trash" value="{{ game['_id'] }}" class="btn btn-danger">🗑</button>
                        </form>
                    </td>
                </tr>
              {% endfor %}

              {% if games.count() == 0 %}
                <tr>
                    <th class="col-md-3">-</th>
                    <td class="col-md-2">-</td>
                    <td class="col-md-2"id="smart">-</td>
                    <td class="col-md-2"></td>
                </tr>
              {% endif %}
            </tbody>
        </table>
    </div> 
</div>
{% endwith %}
{% endblock %}

