{% block scripts %}
  <script>
    const whiteHeart = '\u2661';
    const blackHeart = '\u2665';
    const button = document.querySelector('button');
    button.addEventListener('click', toggle);

    function toggle() {
        const like = button.textContent;
        if(like==whiteHeart) {
            button.textContent = blackHeart;
        } else {
            button.textContent = whiteHeart;
        }
    }
  </script>
{% endblock %}

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Ludothèque</title>

{% endblock %}

{% block content %}

<style>
    .has_errors { border: 1px solid #ff0000 }
</style>
{% with messages = get_flashed_messages(with_categories=true) %}

<div class="container">
    <div>
        <form action="{{url_for('ludo.myLudo')}}" method="POST">
            {{ form.csrf_token }}            
            {{ form.hidden_tag() }}

            <ul class="form-group row" style="list-style:none; margin-left:0; padding-left:0;">
                <li class="col-md-2 is-invalid" id="inputInvalid">
                    {{ wtf.form_field(form.nom) }}
                </li>
                <li class="col-md-2">
                    {{ wtf.form_field(form.version) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.min) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.max) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.age) }}
                </li>
                <li class="col-md-1">
                    {{ wtf.form_field(form.favori) }}
                </li>
                <li>
                    <input type="submit" value="+" class="btn btn-primary">
                </li>
            </ul>
        </form>
        {% if messages %}
            {% for category, message in messages %}        
                {% if category == "error" %}
                <p style="color: red; font-weight: bold;">{{ message }}</p>
                {% endif %}                
            {% endfor %}
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" >Jeux favoris</th>
                    <th scope="col" >Joueurs</th>
                    <th scope="col" >Age</th>
                  </tr>
            </thead>
            <tbody>     

              {% for gameF in gamesF %}

              <tr>
                <th scope="row">
                    {{ gameF["nom"] }}
                    {% if gameF["version"] != "" %}
                        - {{ gameF["version"] }}
                    {% endif %}
                </th>
                <td>{{ gameF["minJ"] }} - {{ gameF["maxJ"] }}</td>
                <td>{{ gameF["age"] }}</td>
                <td class="col-md-2">
                    <form method ="post" action="/myludo/action">
                        <button type="submit" name="favorite" value="{{ gameF['_id'] }}" class="btn btn-light">🖤</button>
                        <button type="submit" name="trash" value="{{ gameF['_id'] }}" class="btn btn-danger">🗑</button>
                    </form>                                       
                </td>
              </tr>

              {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" >Jeux</th>
                <th scope="col" >Joueurs</th>
                <th scope="col" >Age</th>
              </tr>
            </thead>
            <tbody>              

              {% for game in games %}

              <tr>
                <th scope="row">
                    {{ game["nom"] }}
                    {% if game["version"] != "" %}
                        - {{ game["version"] }}
                    {% endif %}
                </th>
                <td>{{ game["minJ"] }} - {{ game["maxJ"] }}</td>
                <td>{{ game["age"] }}</td>
                <td class="col-md-2">   
                    <form method ="post" action="/myludo/action">
                        <button type="submit" name="favorite" value="{{ game['_id'] }}" class="btn btn-light">❤️</button>
                        <button type="submit" name="trash" value="{{ game['_id'] }}" class="btn btn-danger">🗑</button>
                    </form>
                </td>
              </tr>

              {% endfor %}
            </tbody>
        </table>
    </div> 
</div>


{% endwith %}
{% endblock %}