{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Authentification</title>

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}

<div class="container">
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "registerDone" %}
        <div class="alert alert-success alert-dismissible fade show col-md-6" role="alert">
            <span style="color: white; font: bold;">{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <p style="color: green; font: bold;">{{ message }}</p> -->
            
        {% endif %}        
        {% endfor %}
    {% endif %}

    <h2>Authentification</h2>

    <form action="{{url_for('auth.login')}}" method="POST">

        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="col-md-6">
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.mdp) }}

            <input type="submit" value="S'authentifier" class="btn btn-success">
        </div>           
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}    
            {% if category == "errLog" %}
                <p style="color: red; font-weight: bold;">{{ message }}</p>
            {% endif %}            
        {% endfor %}
    {% endif %}

    {% endwith %}

</div>


{% endwith %}
{% endblock %}