{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Page de création d'une table</title>

{% endblock %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}

<div class="container">
    <h2>formulaire de création d'une table</h2>

    <form method="POST" action="{{url_for('table.formCreation')}}">
        {{form.csrf_token}}
        {{ form.hidden_tag() }}
                
        {{wtf.form_field(form.jeuxLibre)}}
        {{wtf.form_field(form.nbPlace)}}

        {% if messages %}
          {% for category, message in messages %}        
            {% if category == "place" %}
              <p style="color: red; font-weight: bold;">{{ message }}</p>
            {% endif %}                
          {% endfor %}
        {% endif %}

        <div class="ml-1 px-5" style="width: 70%;">            

            {% for jeu in form.jeux %}

            <div class="border-left border-primary">
              <div class="row">
                <div class="form-group col-md-6">
                  {{wtf.form_field(jeu.nom)}}
                </div>
                <div class="form-group col-md-6">
                  {{wtf.form_field(jeu.version)}}
                </div>
              </div>
            </div>

            {% endfor %}

            {% if messages %}
              {% for category, message in messages %}        
                {% if category == "jeu" %}
                  <p style="color: red; font-weight: bold;">{{ message }}</p>
                {% endif %}                
              {% endfor %}
            {% endif %}

        </div>

        <div>
          {{wtf.form_field(form.date)}}
          {{wtf.form_field(form.heure)}}
        </div>        

        {% if messages %}
          {% for category, message in messages %}    
            {% if category == "date" %}
              <p style="color: red; font-weight: bold;">{{ message }}</p>
            {% endif %}            
          {% endfor %}
        {% endif %}

        {{wtf.form_field(form.ville)}}
        {{wtf.form_field(form.ageMin)}}
        {{wtf.form_field(form.age)}}

        {% if messages %}
          {% for category, message in messages %}    
            {% if category == "age" %}
            <p style="color: red; font-weight: bold;">{{ message }}</p>
            {% endif %}            
          {% endfor %}
        {% endif %}     
        
        {{wtf.form_field(form.regle)}}
        {{wtf.form_field(form.noteMin)}}
        {{ form.note.label("Note minimum") }}
        {{ form.note(min=0, max=5, oninput="outputUpdate(value)") }}
        <output for="note" id="selected-note">{{ form.noteMin.data }}</output>

        <br>

    <input type="submit" value="Créer" class="btn btn-primary">
    </form>

    {% if messages %}
      {% for category, message in messages %}
        {% if category == "error" %}
        <p style="color: red; font: bold;">{{ message }}</p>
        {% elif category == "info" %}
          <p style="color: green; font: bold;">{{ message }}</p>
        {% endif %}        
      {% endfor %}
    {% endif %}

</div>  

{% endwith %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker();
    });
  </script>
{% endblock %}