{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Page de création d'une table</title>

{% endblock %}


{% block content %}

<div class="container">
    <h2>formulaire de création d'une table</h2>

    <form method="POST" action="{{url_for('table.formCreation')}}">
        {{form.csrf_token}}
                
        {{wtf.form_field(form.jeuxLibre)}}
        {{wtf.form_field(form.nbPlace)}}

        <div class="ml-1 px-5" style="width: 400px;">            

            {% for jeu in form.jeux %}

            <div class="border-left border-primary">
                {{wtf.form_field(jeu.nom)}}
                {{wtf.form_field(jeu.version)}}
            </div>

            {% endfor %}

            {% for error in form.jeux.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}

        </div>

        {{wtf.form_field(form.date)}}
        {{wtf.form_field(form.heure)}}   

        {{wtf.form_field(form.ville)}}
        {{wtf.form_field(form.ageMin)}}
        {{wtf.form_field(form.age)}}
        {{wtf.form_field(form.regle)}}
        {{wtf.form_field(form.noteMin)}}
        {{ form.note.label("Note minimum") }}
        {{ form.note(min=0, max=5, oninput="outputUpdate(value)") }}
        <output for="age" id="selected-note">{{ form.noteMin.data }}</output>

        <br>

    <input type="submit" value="Créer" class="btn btn-primary">
    </form>

    <span style="color: red;">{{ ve }}</span>

</div>  

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker();
    });
  </script>
{% endblock %}