<link href="{{ url_for('table.static', filename='style.css') }}" rel="stylesheet" />
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Mes tables comme joueur</title>

{% endblock %}


{% block content %}

<div class="container">

    <h2>Mes tables comme joueur</h2>

    📖 = Connaissance des règles requises

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}

            {% if category == "error" %}
            <p style="color: red; font: bold;">{{ message }}</p>
            {% else %}
            <p style="color: green; font: bold;">{{ message }}</p>
            {% endif %}
            
        {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        <table class="table table-striped">
            <thead align="center">
              <tr>
                <th scope="col" class="smart">Hôte</th>
                <th scope="col">📅</th>
                <th scope="col">📍</th>
                <th scope="col" class="smart">🪑</th>
                <th scope="col" class="smart">🎲</th>
                <th scope="col" class="smart">📋</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
        
            {% set vars = {'change': 0} %}

            {% for table in result %}
   
                <tr>
                    <th scope="row" class="smart">{{table["hote"].pseudo}}</th>
                    <td>{{table["date"].strftime('%d-%m-%Y %H:%M')}}</td>
                    <td>{{table["ville"]}}</td>
                    <td align="center" class="smart">{{table["nbPlace"] - table["joueurs"]|length}} / {{table["nbPlace"]}}</td>
                    <td align="center" class="smart">
                        {% if table["jeuxLibre"] == True %}
                        /
                        {% else %}
                        <ul>
                        {% for jeu in table["jeux"] %}    
                            <li>{{ jeu["nom"] }} {% if jeu["version"] != "" %} - {{jeu["version"]}} {% endif %}</li>
                        {% endfor %}
                        </ul> 
                    {% endif %}    
                    </td>
                    <td class="smart" align="center" style="font-weight: bold; color: #99433f;">
                        {% if table["regle"] == True %}
                        📖
                        <br>
                        {% endif %}
                        {% if table["ageMin"] == True %}
                        {{table["age"]}}ans /+
                        <br>
                        {% endif %}
                        {% if table["noteMin"] == True %}
                        Note {{table["note"]}} /+
                        <br>
                        {% endif %}
                    </td>
                    <td>
                        <form method ="post" action="/joueur/leaveTable">
                            {% if table["estValide"] == False %}
                                <button type="submit" name="leave" value="{{ table['_id'] }}" class="btn btn-warning">Partir</button>
                            {% else %}
                                <button type="submit" class="btn btn-warning disabled" disabled>Partir</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
                    
            {% endfor %}
            </tbody>
            </div>
        </table>
    </div>

{% endblock %}