{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Mes table comme hôte</title>

{% endblock %}


{% block content %}

<div class="container">

    <h2>Mes tables</h2>

    📖 = Connaissance des règles requises

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}

            {% if category == "error" %}
            <p style="color: red; font: bold;">{{ message }}</p>
            <br>
            {% else %}
            <p style="color: green; font: bold;">{{ message }}</p>            
            <br>
            {% endif %}
            
        {% endfor %}
        {% else %}
            <p>Bon amusement !!!</p>
            <br>
        {% endif %}
    {% endwith %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead align="center">
              <tr>
                <th scope="col">📅</th>
                <th scope="col">📍</th>
                <th scope="col">🪑</th>
                <th scope="col">👥</th>
                <th scope="col">🎲</th>
                <th scope="col">📋</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

            {% for table in result %}   
                <tr>
                    <th scope="row">{{table["date"].strftime('%d-%m-%Y %H:%M')}}</th>
                    <td>{{table["ville"]}}</td>
                    <td align="center">{{table["nbPlace"] - table["joueurs"]|length}} / {{table["nbPlace"]}}</td>
                    <td align="center">
                        {% if "joueurs" in table %}
                            {% for joueur in table["joueurs"] %}                                        
                                    <p>{{ joueur["pseudo"] }}</p>                                        
                            {% endfor %}
                        {% else %}
                            /
                        {% endif %}
                    </td>
                    <td align="center">
                        {% if table["jeuxLibre"] == True %}
                        Jeux Libres
                        {% else %}
                        {% for jeu in table["jeux"] %}    
                            {{ jeu["nom"] }} {% if jeu["version"] != "" %}-{{jeu["version"]}} {% endif %}
                        {% endfor %}
                    {% endif %}    
                    </td>
                    <td style="font-weight: bold; color: #99433f;" align="center">
                        {% if table["regle"] == True %}
                        📖
                        <br>
                        {% endif %}
                        {% if table["ageMin"] == True %}
                        {{table["age"]}}ans /+
                        <br>
                        {% endif %}
                        {% if table["noteMin"] == True %}
                        Note {{table["note"]}} /+
                        <br>
                        {% endif %}
                    </td>
                    <td>
                        <form method ="post" action="/joueur/manageTable">
                            {% if table["estValide"] == False  %}
                                <button type="submit" name="validate" value="{{ table['_id'] }}" class="btn btn-success">V</button>
                            {% else %}
                                <button type="submit"  class="btn btn-success disabled" disabled>V</button>
                            {% endif %}
                            <button type="submit" name="close" value="{{ table['_id'] }}" class="btn btn-danger">X</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </div>
        </table>
    </div>

{% endblock %}