{% extends "base.html" %}

{% block title %}

    <title>Welcome to Home page!!!</title>

{% endblock %}


{% block content %}

    <div class="container">
        <article>
            <main>
              <h2>Flask PWA</h2>
              <span>A progressive webapp template</span>
              <p>Flask PWA is supposed to be a goto template when
                I start a new Flask project. It is constructed on
                a Model-Template-Controller perspective, which I
                find clear enough for my current projects.</p>
            </main>
            <footer>
              <button id="btnAdd">Install App</button>
            </footer>
          </article>
    </div>

    
    

{% endblock %}